	<div class="container" ng-controller='OrdersController'>
		<div class="row">
			<div class="col-md-6">
				<h1>Add a new order</h1>
				<form>
				  <div class="form-group">
				    <label for="name">Customer:</label>
						<select class="form-control" ng-model="newOrder.name">
						  <option ng-repeat="customer in customers">{{ customer.name }}</option>
						</select>
				  </div>
				  <div class="form-group">
				  	<label for="name">Product:</label>
				  	<select class="form-control" ng-model="newOrder.product">
						  <option>iPhone 6</option>
						  <option>Earbuds</option>
						  <option>iPhone Case</option>
						  <option>MacBook Pro</option>
						  <option>MacBook Air</option>
						</select>
				  </div>
				  <div class="form-group">
				  	<label for="name">Quantity:</label>
				  	<select class="form-control" ng-model="newOrder.quantity">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
				  </div>
				  <div class="pull-right">
				  	<input type="submit" class="btn btn-info" value="Order" ng-click="addOrder()">
				  </div>
				</form><br>
				<span ng-bind="error"></span>
			</div>
		</div>
		<br>

		<div class="row">
			<div class="col-md-3 pull-right">
				<form>
				  <div class="form-group">
				    <input type="text" class="form-control" id="search" placeholder="Search an order" ng-model="filter_name">
				  </div>
				</form>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Customer Name</th>
							<th>Product</th>
							<th>Quantity</th>
							<th>Created Date</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="order in orders | filter:filter_name">
							<td><span ng-bind="order.name"></span></td>
							<td><span ng-bind="order.product"></span></td>
							<td><span ng-bind="order.quantity"></span></td>
							<td><span ng-bind="order.created_at | date: 'fullDate'"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>